p, h1, h2, h3, h4, h5, h6, li, ul, button {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

/*The Navbar*/
.navUl {
    list-style: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
    margin-right: 3em;
    min-width: 320px;
    max-width: 2200px;

}
.navLi {
    display: block;
    float: right;
    background-color: white;
    color: black;
    padding: 15px 15px;
    border-bottom: solid;
    border-color: transparent;
    border-width: 5px;
    margin-right: 1em;
    line-height: 5px;
}
.navLi:hover {
    cursor: pointer;
    border-color: black;
}
.navLogo {
    float: left;
    margin: 0.1em 0px 0.25em 1em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2em;
}
.navButton
{
    margin: 2px 0px 0px 0px;
    padding: 10px 20px 10px 20px;
    float: right;
    background-color: #AD974F;
    color: white;
    border-style: none;
    font-weight: bold;
    text-decoration: none;

}
.navButton:hover {
    cursor: pointer;
    background-color: #8E793E;
}
.navButton:focus {
    outline: none;
}

@media screen and (max-width: 620px)
{
    .navUl {
        width: 100%;
    }
    .navLi {
        float: none;
        text-align: center;
        margin: 0px;
        border: none;
    }
    .navLi:hover {
        cursor: pointer;
        background-color: #8E793E;
        color: white;

    }
    .navButton {

        float: none;
        text-align: center;
        margin: 0px;
    }
    .navLogo {
        float: none;
        text-align: center;
        margin: 1em 0em 1em 0em;
        padding: 0px;
    }
    .button1 {
        padding: 0px 0px;
        margin-bottom: 1em;
    }
    .button2 {
        padding: 0px 0px;
        margin-right: 0em;
    }
}



/*Main Layout */
.gridContainer {
    display: grid;
    grid-row-gap: 1em;
    grid-column-gap: 1em;
    min-width: 320px;
    max-width: 2200px;
}
.SectionA {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 1;
    height: 500px;
    max-width: 2200px;

}

.SectionBItem1 {
    grid-column: 1 / span 1;
    grid-row-start: 2;
    grid-row-end: 2;
}
.SectionBItem2 {
    grid-column: 2 / span 1;
    grid-row-start: 2;
    grid-row-end: 2;

}
.SectionBItem3 {
    grid-column: 3 / span 1;
    grid-row-start: 2;
    grid-row-end: 2;
}


.productImage {
    width: 100%;
    height: 400px;
    max-width: 2200px;

}

/* Section A */

.contentAbove {
    text-align: center;

}
.mainImage {
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-width: 320px;
    height: 500px;
    z-index: -1;
    opacity: 0.8;
    max-width: 2200px;

}
.mainHead {
    margin-top: 1em;
    text-align: center;
    font-size: 3.5em;
}
.subHead {
    text-align: center;
}
.button1 {
    color: white;
    background-color: #AD974F;
    border: none;
    text-align: center;
    padding: 10px 50px;
    margin-right: 5em;
}
.button1:hover {
    cursor: pointer;
    background-color: #8E793E;

}
.button1:focus {
    outline: none;
}
.button2 {
    color: white;
    background-color: #231F20;
    border: none;
    text-align: center;
    padding: 10px 50px;
}
.button2:hover {
    cursor: pointer;
    background-color: black;
}
.button2:focus {
    outline: none;
}

/* Section B */
.productHeader {
    text-align: center;
    font-weight: bold;
    font-size: 2em;

}
.productDescription {
    text-align: center;
}
.paraHolder {
    height: 150px;
}

/* Section C */




@media screen and (max-width: 1150px)
{
    .paraHolder {
        height: 190px;
    }
    .productHeader
    {
        font-size: 1.4em;
    }
}



/* Media Queries */
@media screen and (max-width: 860px)
{
    .gridContainer {
        grid-column-gap: 0;
    }
    .SectionBItem1 {
        grid-column: 1 / span 3;
        grid-row-start: 2;
        grid-row-end: 2;        
    }
    .SectionBItem2 {
        grid-column: 1 / span 3;
        grid-row-start: 3;
        grid-row-end: 3;
      
    }
    .SectionBItem3 {
        grid-column: 1 / span 3;
        grid-row-start: 4;
        grid-row-end: 4;
    }
    
    .productDescription {
        width: 90%;
        margin-left: 5%;
    }
    .paraHolder {
        height: 140px;
    }
}
@media screen and (max-width: 445px)
{
    .mainHead {
        font-size: 2.5em;
        
    }
    .button1 {
        margin-bottom: 1em;
        margin-left: 5em;
    }
    .button2 {
        margin-right: 0em;
    }
    .paraHolder {
        height: 170px;
    }
}

/* New Project */

.myGridContainer {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr 1fr;
    min-width: 320px;

}
.standardDiv {
    height: 200px;
    border-style: solid;
    background-color: lightblue;
}

.div1 {
    height: 200px;
    border-style: solid;
    background-color: lightblue;
    grid-column: 1fr;
    grid-row: 1 / 1;

}
.div2 {
    grid-column: 1 / 4;
    grid-row: 2 / 2;
    height: 200px;
    border-style: solid;
    background-color: lightblue;

}
.div3 {
    grid-row: 3 / 3;
    grid-column: 1 / 3;
    height: 200px;
    border-style: solid;
    background-color: lightblue;
}
.div4 {
    grid-row: 3 / 3;
    grid-column: 3 / 4;
    height: 200px;
    border-style: solid;
    background-color: lightblue;
}

@media screen and (max-width: 700px) {
    .myGridContainer {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 1fr);

    }
    .div1 {
        background-color: lightcoral;
        grid-column: 1 / 1;
        grid-row: 1 / 1;
    }
 
    
  
}
